<h2>Books</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody data-turbolinks="false">
    <% books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image(80, 80) %>
        <% end %>
      </td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
      <td>
        <% book.tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_search_path(tag_id: tag.id) %>
        <% end %>
      </td>
      <td>コメント数：<%= book.book_comments.count %></td>
      <td>
        <%= render "books/rate", book: book %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-5">投稿数の前日比・先週比(月曜日始まり)</h2>
<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>今日の投稿</th>
      <th>昨日の投稿</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= books.created_days(0).count %></td>
      <td><%= books.created_days(1).count %></td>
      <% unless books.created_days(1).count == 0 %>
        <td>
          <% days_difference = books.created_days(0).count / books.created_days(1).count.to_f %>
          <%= (days_difference * 100).round %>%
        </td>
      <% else %>
        <td>前日の投稿はありません</td>
      <% end %>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>今週の投稿</th>
      <th>先週の投稿</th>
      <th>先週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= this_week_book.count %></td>
      <td><%= last_week_book.count %></td>
      <% unless last_week_book.count == 0 %>
        <td>
          <% week_difference = this_week_book.count / last_week_book.count.to_f %>
          <%= (week_difference * 100).round %>%
        </td>
      <% else %>
        <td>先週の投稿はありません</td>
      <% end %>
    </tr>
  </tbody>
</table>

<h2>過去7日分の投稿数</h2>
<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <% (0..6).reverse_each do |n| %>
          <th><%= books.created_days(n).count %></th>
        <% end %>
      </tr>
    </tbody>
</table>

<div>
  <canvas id="myChart"></canvas>
</div>

<div class="mt-5">
  <h6>投稿数検索</h6>
  <%= form_with url: user_search_path(user), local: false, method: :get do |f| %>
    <%= f.date_field :created_at %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
  <div id="search_result">
     <%= render "users/search", search_book: search_book %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function(){
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [{
                label: '投稿した本の数',
                data: <%= books.past_week_count %>,
                backgroundColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderColor: [
                    'rgba(0, 0, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: '7日間の投稿数の比較',
            }
          },
          scales: {
            y: {
              beginAtZero: true,
              suggestedMax: 10,
              }
            }
        }
    });
  });
</script>