<!--ここから-->
<h2>User info</h2>
<%= image_tag @user.get_profile_image(100, 100) %>

<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

<!--あとでアイコンに変更-->
<%= link_to "編集", edit_user_path(@user.id) %>


<h2>New book</h2>
<%= form_with model: @book, url: books_path do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :opinion %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Create Book" %>
  </div>

<% end %>
<!--ここまでテンプレート化-->


<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image(100, 100) %>
          <%= @user.name %>
        <% end %>
      </td>
      <% book = @user.books.find(params[:id]) %>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
      <% if @user == current_user %>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
        <td><%= link_to "Destroy", book_path, method: :delete, data: {confirm: "本当に消しますか？"} %></td>
      <% end %>
    </tr>
  </tbody>
</table>