 <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>
        <% @not_current_user.each do |user| %>
          <%= link_to user_path(user.user.id) do %>
            <%= user.user.name %>
          <% end %>
        <% end %>
        <span>さんとのチャット</span>
      </h2>

      <div>
        <% if @messages.exists? %>
          <% @messages.each do |m| %>
            <div>
              <% if m.user_id == current_user.id %>
                <div class="text-right">
                  <div class="mt-3">
                    <%= image_tag m.user.get_profile_image(80, 80) %>
                    <div>
                      <%= m.message%>
                      <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="text-left">
                  <div class="mt-3">
                    <%= image_tag m.user.get_profile_image(80, 80) %>
                    <div>
                      <%= m.message%>
                      <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>チャットをまだしていません</p>
        <% end %>
      </div>

      <div>
        <%= form_with model: @message, local: true do |f| %>

          <%= f.text_field :message %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <% f.submit %>

        <% end %>
      </div>

    </div>
  </div>
</div>